<!DOCTYPE html>
<html lang="#locale" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{header.application}">Hello Page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <div th:replace="fragments/nav-bar :: navbar-css"/>
</head>
<body>
<!--<link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>-->
<div th:replace="fragments/nav-bar :: navbar"/>

<div class="h1 block">
    <h1 th:text="#{header.books}"></h1>
</div>

<div class="content">
    <table class="books">
        <thead>
        <tr>
            <th th:text="#{book.name}">
                Roman
            </th>
            <th th:if="${#lists.contains(roles, 'ROLE_ADMIN')}">
            </th>
            <th th:text="#{book.publicationDate}">
                Roman
            </th>
            <th th:text="#{book.price}">
                Roman
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td>
                <a th:href="@{/book/__${book.id}__}" th:text="${book.name}">Roman</a>
            </td>
            <td th:if="${#lists.contains(roles, 'ROLE_ADMIN')}">
                <form th:action="@{/book/__${book.id}__/delete}" method="post">
                    <div class="btn">
                        <a th:href="@{/book/__${book.id}__?action=edit}" th:text="#{edit}"
                           href="/book?action=edit"></a>
                        <button type="submit" th:text="#{delete}"></button>
                    </div>
                </form>
            </td>
            <td th:text="${book.publicationDate}">
                Roman
            </td>
            <td th:text="${book.price}">
                Roman
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn" th:if="${#lists.contains(roles, 'ROLE_ADMIN')}">
        <a th:href="@{/book?action=create}" th:text="#{create}" href="/book?action=create"></a>
    </div>
</div>
</body>
</html>