@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);

#badge {
    background-position:top;
    background-repeat:no-repeat;
    margin:30px auto;
    width: 100%;
    border-radius:4px;
}
header {
    height: auto;
    border-bottom:5px solid #f96243;
    padding-bottom: 50px;
}
section.comment-section .input__area{
    padding:20px 10px;
}
.info {
    padding:0 10px 20px;
    border-bottom:1px solid #f1f1f1;
}
.total span {
    font-size:14px;
    float:left;
    padding-top: 20px;
    padding-left: 10px;
}
span.comments-number {
    font-size:32px;
    font-weight:bold;
}

.input__area {
    padding:0 10px 20px;
}

.list {
    max-height: 700px;
    height:200px;
    padding:0 10px;
    overflow:auto;

}
.list section {
    margin-bottom: 40px;
}

img {
    float:left;
    width:75px;
    height:75px;
    border-radius:80px;
    margin-right:15px;
}

.header {
    margin-top:30px;
    margin-left: 30px;
    text-align: center;
    width: max-content;
}

.header h3 {
    font-size:20px;
    margin: 20px 0 0;
}
.header label {
    font-size:14px;
    color: rgba(77, 77, 77, 0.87);
}
.bot-border {
    border-radius: 5px;
    border-bottom:2px solid #3d476d;
    padding-bottom: 10px;
}
.comment p {
    font-size:14px;
    margin-left: 20px;
}

textarea {
    overflow:hidden;
    padding:10px;
    width:80%;
    max-width: 100%;
    font-size:14px;
    margin:50px auto;
    display:block;
    border-radius:10px;
    border:6px solid #556677;
}