<!DOCTYPE html>
<html lang="#locale" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{header.application}">Hello Page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <div th:replace="fragments/nav-bar :: navbar-css"/>
</head>
<body>
<!--<link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>-->
<div th:replace="fragments/nav-bar :: navbar"/>

<div class="h1 block">
    <h1 th:text="#{header.genres}"></h1>
</div>

<div class="content">
    <table class="books">
        <thead>
        <tr>
            <th th:text="#{genre.name}">
                Roman
            </th>
            <th th:if="${#lists.contains(roles, 'ROLE_ADMIN')}" >
            </th>
            <th th:text="#{genre.getBooks}">
                Roman
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${genres}">
            <td>
                <a th:href="@{/genre/__${genre.id}__}" th:text="${genre.name}">Roman</a>
            </td>
            <td th:if="${#lists.contains(roles, 'ROLE_ADMIN')}">
                <form th:action="@{/genre/__${genre.id}__/delete}" method="post"
                      action="/genre?action=delete">
                    <div class="btn">
                        <a th:href="@{/genre/__${genre.id}__?action=edit}" th:text="#{edit}"
                           href="/genre?action=edit"></a>

                        <button type="submit" th:text="#{delete}"></button>
                    </div>
                </form>
            </td>
            <td>
                <div class="btn">
                    <a th:href="@{/book?genre=__${genre.id}__}" th:text="#{see}"
                       href="/book?genre=all"></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn" th:if="${#lists.contains(roles, 'ROLE_ADMIN')}">
        <a th:href="@{/genre?action=create}" th:text="#{create}" href="/genre?action=create"></a>
    </div>
</div>
</body>
</html>