<!DOCTYPE html>
<html lang="#locale" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{header.application}">Hello Page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
<link href="../../static/css/comment.css" rel="stylesheet" th:href="@{/css/comment.css}" type="text/css"/>

<div class="top-panel">
    <div class="top-panel element">
        <img alt="memorynotfound logo" class="logo" src="../../static/img/logo.jpg" th:src="@{/img/logo.jpg}"/>
    </div>

    <div class="btn element">
        <a href="/author" th:href="@{/genre}" th:text="#{back.to(#{genres})}"></a>
    </div>
    <div class="btn element logout" th:if="${authenticated}">
        <p class="element" th:text="${username}"></p>
        <a class="btn" href="/logout" th:href="@{/logout}" th:text="#{logout}"></a>
    </div>
</div>

<div class="h1 block">
    <h1 th:text="${genre.name}"></h1>
</div>

<div class="content">
    <div id="badge">
        <header class="content">
            <div class="block">
                <span th:text="#{genre.name} + ' : '"></span>
                <span th:text="${genre.name}">Novel</span>
            </div>

            <div class="btn" th:if="${#lists.contains(roles, 'ADMIN')}">
                <a th:href="@{/genre/__${genre.id}__?action=edit}" th:text="#{edit}" href="..?action=edit"></a>
            </div>
        </header>
    </div>
</div>


<script type="text/javascript" src="../../static/js" th:src="@{/js/script.js}"></script>
</body>
</html>