<!DOCTYPE html>
<html lang="#locale" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{header.application}">Hello Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>

<div class="top-panel">
    <div class="top-panel element">
        <img alt="memorynotfound logo" class="logo" src="../static/img/logo.jpg" th:src="@{/img/logo.jpg}"/>
    </div>

    <div class="btn element" >
        <a th:text="#{books}" th:href="@{/book}" href="/book"></a>
    </div>

    <div class="btn element">
        <a class="btn" th:text="#{authors}" th:href="@{/author}" href="/book"></a>
    </div>

    <div class="btn element">
        <a class="btn" th:text="#{genres}" th:href="@{/genre}" href="/book"></a>
    </div>
    <div class="btn element logout" th:if="${authenticated}">
        <p class="element" th:text="${username}"></p>
        <a class="btn" href="/logout" th:href="@{/logout}" th:text="#{logout}"></a>
    </div>
    <div class="btn element login" th:unless="${authenticated}">
        <a class="btn" href="/login" th:href="@{/login}" th:text="#{login}"></a>
    </div>
</div>

<div class="h1 block">
    <h1 th:text="#{header.accessDenied}"></h1>
    <div class="form-group">
        <p th:text="#{accessDenied}"></p>
    </div>
</div>

</body>
</html>